<!-- app/templates/signup.html -->
{% extends "base.html" %} {% block title %}Sign Up - CrediMate{% endblock %} {%
block content %}
<div class="card bg-secondary text-light">
  <div class="card-body">
    <h3 class="text-center mb-4">Sign Up</h3>
    <form id="signup-form">
      <div class="mb-3">
        <label for="signup-name" class="form-label">Name</label>
        <input
          type="hidden"
          name="invitation_code"
          id="invitation-code"
          value="{{ request.query_params.code or '' }}"
        />

        <input
          type="text"
          id="signup-name"
          class="form-control bg-dark text-light border-light"
          required
        />
      </div>
      <div class="mb-3">
        <label for="signup-email" class="form-label">Email</label>
        <input
          type="email"
          id="signup-email"
          class="form-control bg-dark text-light border-light"
          required
        />
      </div>
      <div class="mb-3">
        <label for="signup-password" class="form-label">Password</label>
        <input
          type="password"
          id="signup-password"
          class="form-control bg-dark text-light border-light"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100"
        data-original-text="Sign Up"
      >
        <span
          class="spinner-border spinner-border-sm text-light d-none"
          role="status"
          aria-hidden="true"
        ></span>
        <span class="btn-text">Sign Up</span>
      </button>
    </form>
  </div>
</div>
{% endblock %} {% block scripts %}
<script type="module" src="/static/js/signup.js"></script>
{% endblock %}
